<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".gltf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".iset" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".fset" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".fset3" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
